@page
@model View.Pages.Empresa.DetailsModel

@{
    ViewData["Title"] = "Detalhe";
}

<h2>Detalhe</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empresa.NomeEmpresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empresa.Id" class="btn btn-success">Editar</a>
    <a asp-page="./Index" class="btn btn-primary">Voltar a Lista</a>
    <a asp-page="./CreateEstoque" asp-route-idEmpresa="@Model.Empresa.Id" class="btn btn-info">Adicionar Movimentação</a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProdutoEstoque[0].Estoque)
                </th>
                <th>
                    Produto
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProdutoEstoque)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estoque)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProdutoNavigation.NomeProduto)
                    </td>
                    <td>
                        <a asp-page="./Estoque" asp-route-idEmpresa="@Model.Empresa.Id" asp-route-id="@item.Id" class="btn btn-success">Edit</a> 
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
