@page
@model View.Pages.Empresa.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empresa[0].NomeEmpresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Empresa) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresa)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
