@page
@model View.Pages.NewFolder.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoEstoque[0].Estoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoEstoque[0].IdEmpresaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoEstoque[0].IdProdutoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProdutoEstoque) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpresaNavigation.NomeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdutoNavigation.NomeProduto)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
